{% extends 'base.html.twig' %}

{% block title %}Wild Circus - Se connecter
{% endblock %}

{% block body %}
	{# tree #}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb bg-white rounded-0">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">
					Accueil
				</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				Connexion
			</li>
		</ol>
	</nav>
	{# login #}
	<div class="container my-5">
		<div class="d-flex justify-content-center">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecter en tant que 
						{{ app.user.username }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}
				<div class="custom-form">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Entrez votre email" required autofocus>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Entrez votre mot de passe" required>
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				</div>
				{# login button #}
				<div class="d-flex justify-content-center my-5">
					<button class="login-button" type="submit">
						Se connecter
					</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}
